<div class="home-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" *ngIf="allOps">
  <table mat-table [dataSource]="allOps.concat(newLines)" class="mat-elevation-z1">


    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef>מספר חשבון</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.isEditing; else accountNumber">
          <mat-form-field>
            <input required matInput type="number" [(ngModel)]="element.accountNumber" (ngModelChange)="element.isChanged = true">
          </mat-form-field>
        </ng-container>
        <ng-template #accountNumber>{{element.accountNumber}}</ng-template>
      </td>
    </ng-container>


    <ng-container matColumnDef="_createdAt">
      <th mat-header-cell *matHeaderCellDef> נוצר בתאריך</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.isEditing; else _createdAt">{{now | date : 'medium'}}</ng-container>
        <ng-template #_createdAt>{{element._createdAt | date : 'medium'}}</ng-template>
      </td>
    </ng-container>


    <ng-container matColumnDef="_updatedAt">
      <th mat-header-cell *matHeaderCellDef> עודכן בתאריך</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.isEditing; else _updatedAt">{{now | date : 'medium'}}</ng-container>
        <ng-template #_updatedAt>{{element._updatedAt | date : 'medium'}}</ng-template>
      </td>
    </ng-container>


    <ng-container matColumnDef="actionType">
      <th mat-header-cell *matHeaderCellDef> סוג פעולה</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.isEditing; else actionType">
          <mat-form-field>
            <mat-select required [(value)]="element.actionType" (valueChange)="element.isChanged = true">
              <mat-option [value]="option.id" *ngFor="let option of ActionTypes.getElements()">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-template #actionType>{{ActionTypes.getById(element.actionType)?.name}}</ng-template>
      </td>
    </ng-container>


    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> סכום</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.isEditing; else amount">
          <mat-form-field>
            <input [ngStyle]="{'color': element.amount > 0 ? 'red' : 'green'}" required matInput type="number" [(ngModel)]="element.amount" (ngModelChange)="element.isChanged = true">
          </mat-form-field>
        </ng-container>
        <ng-template #amount><span [ngStyle]="{'color': element.amount > 0 ? 'red' : 'green'}">{{element.amount | currency}}</span></ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>פעולות</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="delete(element)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div fxFlexAlign="start" fxLayout="row" fxLayoutGap=".5rem">
    <button *ngIf="!isEdited" mat-raised-button (click)="enterEditMode()">עריכה</button>
    <button mat-raised-button (click)="createNewLine()">חדש</button>
    <button *ngIf="isEdited && isEditValid" mat-raised-button (click)="saveEdit()">שמירה</button>
    <button *ngIf="isEdited"  mat-raised-button (click)="cancelEdit()">ביטול</button>
  </div>
</div>
