/* You can add global styles to this file, and also import other style files */
@import url('@angular/material/prebuilt-themes/deeppurple-amber.css');
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  margin: 0 !important;
  padding : 0 !important;
  height: 100vh;
  .router , .router > * ,.router > * > * {
    height: 100% !important;
  }
}
mat-card {
  margin: 0 !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
