
mat-card {
  min-width: 5rem;
  min-height: 10rem;
  margin: 2em auto;
  text-align: center;
  width: 94%;
  height: 80%;
  background: #f9fbfc;
  max-width: 1100px;
  max-height: 600px;
  box-shadow: 0 2px 17px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
  .mat-card-content {
    height: 100% !important;
  }
}

.content-wrapper {
  height: 100%;;
  form {
    padding-left: 4rem;
    padding-right: 7rem;
    min-width: 24rem;

    .error {
      margin-top: 1rem;
      color: red;
      a {
        color: green;
      }
    }
  }
  .image {
    height: 105.9%;
    background: url(https://images.unsplash.com/photo-1564939558297-fc396f18e5c7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=stellrweb-djb1whucfBY-unsplash.jpg);
    background-size: cover;
    margin-left: -2.7rem;
    border-radius: 0.7rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.backface-hidden {
  backface-visibility: hidden;
}
.forms-wrapper {
  position: relative;
  min-width: 24rem;
  top: -9rem;
}
.form {
  position: absolute;
  &.register {
    margin-top: -1rem;
  }
}
.flipped {
  transform: rotate3d(0, 1, 0, 90deg);
}
