<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <div class="content-wrapper" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="60" class="image"></div>
        <form fxFlex="40 min max" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap=".5rem">
          <h2>Log In</h2>
          <mat-error *ngIf="loginInvalid">
            The username and password were not recognized
          </mat-error>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="username" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="1rem">
            <button mat-raised-button color="primary">Create Account</button>
            <button mat-raised-button color="primary">Login</button>
          </div>
          <ng-container *ngIf="loginErrors$ | async as loginErrors">
            <div *ngIf="loginErrors.userNotFound" class="error">User not found</div>
            <div *ngIf="loginErrors.wrongUserOrPassword" class="error">Wrong username or password</div>
          </ng-container>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
